[build-system]
requires = ["setuptools>=61.2", "setuptools_scm[toml]>=3.4.3"]
build-backend = "setuptools.build_meta"

[project]
name = "ntia_conformance_checker"
version = "0.4.0"
authors = [
    {name = "Josh Lin", email = "linynjosh@gmail.com"},
    {name = "John Speed Meyers", email = "johnmeyersster@gmail.com"}
]
maintainers = [
    {name = "John Speed Meyers", email = "johnmeyersster@gmail.com"},
    {name = "Gary O'Neall", email = "gary@sourceauditor.com"},
    {name = "Josh Lin", email = "linynjosh@gmail.com"},
    {name = "SPDX group at the Linux Foundation and others", email = "spdx-implementers+owner@lists.spdx.org"},
]
license = {text = "Apache-2.0"}
description = "Check SPDX SBOM for NTIA minimum elements"
readme = "README.md"
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
urls = {Homepage = "https://github.com/spdx/ntia-conformance-checker"}
requires-python = ">=3.8"
keywords = ["spdx", "sbom", "ntia"]
dependencies = [ "spdx-tools==0.8.0"]

[project.optional-dependencies]
test = ["pytest"]

[tool.setuptools]
packages = ["ntia_conformance_checker"]

[project.scripts]
ntia-checker = "ntia_conformance_checker.main:main"
