name: bandit-security-linter
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  bandit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Run bandit
        uses: tj-actions/bandit@0aed5b3da320e0f26781e5aecbbfc1d268ff07e2  # v5.5
        with:
          options: "-c bandit.yml -r"
