name: black-formatter-lint

on:
  push:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Black Python code formatter
        uses: psf/black@6305bf1ae645ab7541be4f5028a86239316178eb  # v26.1.0
