name: build

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore: [ '**.md', 'docs/**' ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.13", "3.12", "3.11", "3.10", "3.9"]

    runs-on: ${{ matrix.os }}
    permissions:
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # v6.0.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
    - name: Install dependencies
      run: |
        pip install pip==25.3
        pip install build==1.3.0
    - name: Build package
      run: |
        python -m build
    - name: Install package
      run: |
        pip install .
    - name: Test with pytest
      env:
          # This token is provided by Actions,
          # you do not need to create your own token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install ".[test]"
        coverage run -m pytest
        coverage xml -o coverage/python.xml
