name: build

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore: [ '**.md', 'docs/**' ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        python-version: ["3.14", "3.13", "3.12", "3.11", "3.10"]

    runs-on: ${{ matrix.os }}
    permissions:
      pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
    - name: Install dependencies
      run: |
        pip install pip==25.3
        pip install build==1.3.0
    - name: Build package
      run: |
        python -m build
    - name: Install package
      run: |
        pip install .
    - name: Test with pytest
      env:
          # This token is provided by Actions,
          # you do not need to create your own token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install ".[test]"
        coverage run -m pytest
        coverage xml -o coverage/python.xml
