# SPDX-FileCopyrightText: 2025 SPDX contributors
# SPDX-FileType: SOURCE
# SPDX-License-Identifier: Apache-2.0

name: Static type check

on:
  push:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'

jobs:
  typecheck:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"
      - name: mypy type check
        run: |
          mypy ntia_conformance_checker
      - name: pyrefly type check
        run: |
          pyrefly check ntia_conformance_checker
      - name: pyright type check
        run: |
          pyright ntia_conformance_checker
      - name: pytype type check
        run: |
          pytype ntia_conformance_checker
